@import "./rose-pine.css";
/* @import "./rose-pine-moon.css"; */
/* @import "./rose-pine-dawn.css"; */

* {
  border: none;
  border-radius: 0;
  font-family: "RobotoMono Nerd Font";
  font-size: 14px;
  font-weight: 500;
}

window#waybar {
  background-color: @base;
  color: @pine;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-bottom: solid 0px @overlay;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  color: @love;
  border-radius: 5px;
}

#workspaces button.focused {
  background-color: @pine;
  color: @text;
  border-bottom: none;
}

#workspaces button.urgent {
  background-color: @rose;
}

widget > * {
  margin-top: 6px;
  margin-bottom: 6px;
}

.modules-center > widget > * {
  padding: 0 12px;
  margin-left: 0px;
  margin-right: 0px;
  color: @foam;
  background-color: @overlay;
}

.modules-center > widget:first-child > * {
  border-radius: 5px 0 0 5px;
}

.modules-center > widget:last-child > * {
  border-radius: 0 5px 5px 0;
  margin-right: 6px;
}


.modules-left > widget > * {
  margin-left: 12px;
  margin-right: 12px;
}

.modules-left > widget:first-child > * {
  margin-left: 6px;
}

.modules-left > widget:last-child > * {
  margin-right: 18px;
}

.modules-right > widget > * {
  padding: 0 12px;
  margin-left: 0;
  margin-right: 0;
  color: @rose;
  background-color: @overlay;
}

.modules-right > widget:first-child > * {
  border-radius: 5px 0 0 5px;
}

.modules-right > widget:last-child > * {
  border-radius: 0 5px 5px 0;
  margin-right: 6px;
}

#mode {
  background: transparent;
  color: #fb4934;
}

@keyframes blink {
  to {
    color: #ebdbb2;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: @Overlay;
}

tooltip {
  border-radius: 5px;
  background: @surface;
}

tooltip label {
  color: @pine;
}
